<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>Collector</directory>
      <directory>Connection</directory>
      <directory>Schema</directory>
      <directory>Sql</directory>
      <file>Base.php</file>
      <file>Collector.php</file>
      <file>Connection.php</file>
      <file>DB.php</file>
      <file>DsnGenerator.php</file>
      <file>Expression.php</file>
      <file>Fnc.php</file>
      <file>Identifier.php</file>
      <file>Query.php</file>
      <file>ResultSet.php</file>
      <file>Schema.php</file>
      <file>Value.php</file>
    </include>
  </source>
</phpunit>
